.container {
  min-width: 200px;
  border-radius: 3px;
  background-color: var(--color-background);
  position: relative;
}

.selectable {
  border-style: solid;
  border-radius: 3px;
  border-color: var(--color-gray-5);
  border-width: 1px;
  transition: border-color 0.2s;

  height: 100%;

  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
}

.selectable:hover {
  border-color: var(--color-blue);
  cursor: pointer;
}

.badge {
  position: absolute;
  /* top: -1px;
  right: -1px; */
  right: 0;
}

.content {
  padding: 12px 16px 10px 16px;

  display: grid;
  grid-template-columns: 1fr;

  height: 100%;
  -webkit-box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
}

.title {
  justify-self: left;

  font-family: Noto Sans;
  font-size: 18px;
  font-weight: bold;
}

.at {
  color: var(--color-gray-4);
}

.company {
  color: var(--color-blue);
}

.icon {
  justify-self: right;
  padding-top: 2px;
  width: 20px;
  height: 20px;
  display: none;
}

.body {
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-gray-3);
}

.bullets {
  /* list-style: square inside url("../public/bullet.svg"); */
  list-style-type: none;
  /* list-style-type: circle;
  list-style-position: inside; */
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.bullet:not(:last-child) {
  /* text-indent: -10px; */
  margin-bottom: 12px;
}

.bullet {
  display: grid;
  grid-template-columns: auto auto;
}

.bullet_circle {
  margin-top: 6px;
}

.bullet_text {
  margin-left: 12px;
}

.arrow_container {
  display: grid;
}

.arrow {
  justify-self: right;
  color: var(--color-blue);
  padding-right: 4px;
  margin-bottom: -8px;
}

.line {
  margin-block-start: 16px;
  margin-block-end: 10px;
  border: none;
  height: 1px;
  background-color: var(--color-gray-5);
}

.footer {
  align-self: flex-end;
}

.footer_text {
  display: grid;
  grid-template-columns: auto auto;

  font-size: 11px;
  font-weight: bold;

  /* position: absolute; */
}

.bottom_left {
  justify-self: left;
  color: var(--color-orange);
}

.lang {
  margin-right: 12px;
}

.bottom_right {
  justify-self: right;
  color: var(--color-gray-4);
}

.tool {
  margin-left: 12px;
}
