.container {
  max-width: 940px;
  margin: 0 auto 0;
}

.title {
  color: var(--color-background);
}

.experience_grid {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}
