.container {
  max-width: var(--max-width);
  margin: 0 auto 0;
}

.title {
  color: var(--color-background);
}

.experience_grid {
  margin-top: 40px;

  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(minmax(450px, 1fr)), 1fr); */
  /* grid-auto-rows: 1fr 1fr; */
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .experience_grid {
    grid-template-columns: 1fr 1fr;
  }
}
