:root {
  --color-background: white;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #e0e0e0;
  --color-blue: #2f80ed;
  --color-orange: #f2994a;
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: Roboto;
  font-weight: regular;
  color: var(--color-gray-2);
}

h1,
h2,
h3 {
  font-family: Roboto;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 36px;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 160px 24px;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Noto Sans;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: Noto Sans;
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
  font-weight: Bold;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */
