:root {
  --color-background: white;
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #e0e0e0;
  --color-blue: #2f80ed;
  --color-orange: #f2994a;

  --max-width: 940px;
  --max-mobile-width: 768px;
}

html,
body {
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;

  font-family: Roboto;
  font-weight: regular;
  color: var(--color-gray-1);

  /* scroll-behavior: smooth; */
}

p {
  line-height: 30px;
  font-size: 16px;
  /* color: var(--color-gray-1); */
  /* max-width: 700px;
  margin: 0 auto 0; */
}

h1,
h2,
h3 {
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 18px;
  color: var(--color-blue);

  margin-top: 40px;

  /* margin: 0; */
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 160px 24px;
}

.section_title {
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 36px;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Noto Sans;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: Noto Sans;
  src: url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype");
  font-weight: Bold;
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */
