.intro_section {
  -webkit-box-sizing: border-box;
  height: 100vh;
  /* padding-top: 150px; */
  padding-top: 20vh;
}

.projects_section {
  /* padding: 160px; */
}

.experience_section {
  /* padding-top: 160px; */
  background-color: var(--color-gray-2);
}

.copyright_section {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color-gray-2);
}
