.container {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 780px;

  margin: 0 auto 0;
}

.profile {
  height: 200px;
  margin-right: 30px;
  justify-self: center;
  align-self: center;
  width: auto;
}

@media screen and (max-width: 768px) {
  .profile {
    display: none;
  }
}

.intro_text {
  align-self: center;

  font-family: Roboto;
  font-weight: medium;
}

.subtitle {
  font-size: 14px;
  color: var(--color-gray-4);
}

.body {
  margin-top: 30px;
  line-height: 24px;
}

.orange {
  color: var(--color-orange);
}

.blue {
  color: var(--color-blue);
}
