.container {
  -webkit-box-sizing: border-box;
  background-color: var(--color-background);
  position: fixed;
  z-index: 2;

  width: 100vw;
  padding: 0 24px 0 24px;

  cursor: default;

  /* outline: 1px solid var(--color-gray-5); */
}

.grey_line {
  background-color: var(--color-gray-5);
  width: 100vw;
  height: 1px;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 1;
}

.cover {
  visibility: hidden;
  opacity: 50%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  transition: opacity 0.2s;
}

.content {
  display: grid;
  grid-template-columns: auto auto;

  height: 60px;
  max-width: var(--max-width);
  margin: 0 auto 0;
}

.left {
  justify-self: left;
  align-self: center;
}

.logo {
  width: 23px;
  height: auto;
  align-self: center;
}

.logo:hover {
  cursor: pointer;
}

.right {
  justify-self: right;
  align-self: center;

  display: grid;
  grid-template-columns: auto auto;

  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
}

.hamburger {
  width: 42px;
  padding: 16px;
  margin-right: -16px;
  display: none;
  background-color: white;
}

.sections {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  min-width: 350px;
}

.section {
  /* margin-left: 24px; */
  transition: color 0.2s;
  align-self: center;
  justify-self: right;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .menu {
    background-color: var(--color-background);
    width: 100vw;
    height: 60px;
    position: fixed;
    top: -60px;
    transition: top 0.25s;
    left: 0;
  }
  .sections {
    position: relative;
    justify-self: center;
    min-width: 0;
    padding: 18px 12px 0;
  }
  .section {
    justify-self: center;
  }
}

.section:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.github_icon {
  /* width: 20px; */
  height: 20px;
  padding-top: 2px;
  /* vertical-align: middle; */

  /* margin-left: 24px; */
}
