.container {
  -webkit-box-sizing: border-box;
  background-color: var(--color-background);
  position: fixed;
  z-index: 1;

  width: 100vw;
  padding: 0 24px 0 24px;

  cursor: default;
}

.content {
  display: grid;
  grid-template-columns: auto auto;

  height: 60px;
  max-width: var(--max-width);
  margin: 0 auto 0;
}

.left {
  justify-self: left;
  align-self: center;
}

.logo {
  width: 23px;
  height: auto;
  align-self: center;
}

.logo:hover {
  cursor: pointer;
}

.right {
  justify-self: right;
  align-self: center;

  display: grid;
  grid-template-columns: auto auto;

  font-weight: bold;
  font-size: 14px;
}

.sections {
  align-self: center;
}

.section {
  margin-left: 24px;
  transition: color 0.2s;
}

.section:hover {
  color: var(--color-blue);
  cursor: pointer;
}

.github_icon {
  width: 20px;
  height: auto;
  margin-left: 24px;
}
