.container {
  max-width: var(--max-width);
  margin: 0 auto 0;
}

.projects_grid {
  margin-top: 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
