.safe_zone {
  -webkit-box-sizing: border-box;
  padding: 18px 24px 40px;
  min-height: 100vh;

  /* display: grid; */
  grid-template-columns: auto;
}

.content p {
  line-height: 1.6em;
  font-size: 18px;
}

.container {
  /* -webkit-box-sizing: border-box; */
  /* height: 100%; */

  /* position: relative; */
  margin: 0 auto 0;
  /* padding-bottom: 40px; */
  /* max-width: var(--max-width); */
  max-width: 800px;
}

.back_arrow {
  grid-row: 1;
  justify-self: left;
  align-self: center;

  color: var(--color-blue);
  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
}

.header {
  margin-bottom: 40px;
}

.upper_header {
  display: grid;
  grid-template-columns: auto auto;
}

.title {
  font-family: Noto Sans;
  font-weight: bold;

  align-self: center;
  grid-column: 1/3;
  grid-row: 2;
  font-size: 24px;

  margin-top: 30px;
}

.icons {
  grid-row: 1;
  align-self: center;
  justify-self: right;
}

@media only screen and (min-width: 600px) {
  .back_arrow {
    margin-bottom: 30px;
  }
  .title {
    font-size: 36px;
    margin-top: 0;
  }
  .icons {
    grid-row: 2;
  }
}

.icon {
  width: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.icon_gray {
  width: 20px;
  margin-left: 20px;
  cursor: default;
}

.line {
  margin-block-start: 8px;
  margin-block-end: 8px;
  border: none;
  height: 1px;
  background-color: var(--color-gray-5);
}

.lower_header {
  font-size: 14px;
  font-weight: bold;
}

.langs {
  color: var(--color-orange);
}

.tools {
  color: var(--color-gray-4);
}

.lang,
.tool {
  margin-right: 12px;
}

.main {
  margin-top: 40px;
  /* max-width: 600px;
  margin: 0 auto 0; */
}

.main img {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
}

.copyright {
  justify-self: center;
  align-self: flex-end;
  text-align: center;

  margin-top: 80px;

  font-family: Noto Sans;
  font-size: 14px;
  font-weight: regular;
  color: var(--color-gray-4);
}
