.safe_zone {
  -webkit-box-sizing: border-box;
  padding: 18px 24px 40px;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
}

.container {
  /* height: 100%; */

  /* position: relative; */
  margin: 0 auto 0;
  /* padding-bottom: 40px; */
  max-width: var(--max-width);
}

.back_arrow {
  color: var(--color-blue);
  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.upper_header {
  display: grid;
  grid-template-columns: auto auto;
}

.title {
  font-size: 48px;
}

.icons {
  align-self: center;
  justify-self: right;
}

.icon {
  width: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.line {
  margin-block-start: 8px;
  margin-block-end: 8px;
  border-style: solid;
  border-color: var(--color-gray-5);
  border-width: 0.5px;
}

.lower_header {
  font-size: 14px;
  font-weight: bold;
}

.langs {
  color: var(--color-orange);
}

.tools {
  color: var(--color-gray-4);
}

.lang,
.tool {
  margin-right: 12px;
}

.main {
  margin-bottom: 80px;
}

.copyright {
  justify-self: center;
  align-self: flex-end;

  font-family: Noto Sans;
  font-size: 14px;
  font-weight: regular;
  color: var(--color-gray-4);
}
